div.wrapper {
    width: 100%;
    padding: 10px;
    margin: -9px;
    text-align: left;
    text-indent: 50px;
    background-color: #4CAF50;
    font-weight: bold;
    font-size: 20px;
    word-spacing: 10px;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: #BBBBBB;
    font-style: oblique;
}

a:hover{
    text-decoration: underline;
}

a:active{
    text-decoration: underline;
    color: #AAAAAA;
}

table{
    padding: 10px;
}

body{
    margin: 10px;
}

h1 {
    padding: 10px;
}